@import url('https://fonts.googleapis.com/css?family=Poppins:400,700,900&display=swap');
* {
  scroll-behavior: smooth;
}
body {
  font-family: 'Poppins', Tahoma, sans-serif;
  /*margin: 0;*/
  /*padding: 0;*/
}
a,
a:hover {
  color: #000;
  text-decoration: none;
}
.about,
.skills,
.work,
.contact {
  padding: 4rem 0;
}
.about,
.work {
  background-color: rgb(235, 235, 235);
}
/*Header start*/
.header {
  height: 100vh;
  background-image: url('../img/header.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center 60%;
  background-attachment: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.header .header-logo {
  max-width: 70px;
}
.navbar {
  background-color: rgba(255, 255, 255, 0.5);
  text-transform: uppercase;
  font-weight: bold;
  padding: 0.5rem 3rem;
}
.navbar-light .navbar-nav .nav-link {
  color: #000;
  text-align: right;
  transition: 0.3s color ease;
}
.navbar-light .navbar-nav .nav-link:hover {
  color: #5bd1d7;
}
.navbar-light .navbar-toggler {
  border: none;
}
.header-present {
  text-align: center;
}
.header-present h1 {
  font-weight: 700;
  font-size: 3rem;
  margin-bottom: 50px;
  color: #fff;
}
.header-present h2 {
  font-weight: 700;
  font-size: 2.5rem;
  color: #fff;
}

.wrap {
  color: #fff;
}

.btnMore {
  color: #000 !important;
}
/*Header end*/
/*About start*/


.about {
  background-color: rgb(235, 235, 235);
}
.about-img {
  border-radius: 10px;
  max-width: 100%;
}
.about-main span {
  color: rgb(143, 143, 143);
  display: block;
  padding-bottom: 10px;
}

p.indent {
  text-indent: 1em;
}
.social-link div {
  font-size: 4rem;
  transition: 0.3s color ease;
}
.social-link a {
  display: block;
  padding: 5px 15px 5px 0;
  font-size: 2rem;
  transition: 0.3s color ease;
  margin-right: 1rem;
}

.social-link a i {
  animation: float 2.2s ease-in-out infinite;
}
.social-link a:hover {
  color: #5bd1d7;
}

.fa-linkedin-in {
  animation-delay: 0s !important ;
}
.fa-github {
  animation-delay: 0.5s !important ;
}
.fa-instagram {
  animation-delay: 1s !important;
}
.fa-telegram-plane {
  animation-delay: 1.5s !important;
}
.fa-facebook-f {
  animation-delay: 2s !important;
}

@keyframes float {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0);
  }
}

.download-cv {
  display: flex;
  justify-content: space-between;
  padding-left: 0;
  padding-right: 0;
  text-align: center;
}

.download-cv a {
  padding: 8px 5px;
  background-color: #5bd1d7;
  border-radius: 5px;
  font-weight: 700;
  color: #fff;
  transition: 0.3s color ease;
  width: 9rem;
}
.download-cv a:hover {
  color: #000;
}

@media (max-width: 990px) {
  .about-main h2 {
    margin-top: 1rem;
  }
}
@media (min-width: 990px) and (max-width: 1200px) {
  .about-img {
    margin-top: 3rem;
  }
  .download-cv {
    white-space: nowrap;
  }
  .download-cv a {
    padding: 8px 15px;
  }
  .download-cv a:last-child {
    margin-left: 2.5rem;
  }
}

/*About end*/
/*Skills start*/

.skills-header h3 {
  user-select: none;
  line-height: unset;
  font-size: 2.2rem;
  font-weight: 900;
  text-transform: uppercase;
  color: rgba(0, 0, 0, 0.2);
}
.skill-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.skill-cards div {
  margin: 5px 10px;
  padding: 5px 0;
}
.skill-cards .card {
  border: none;
}
/*Skills end*/
/*Work*/
.work-header h3 {
  user-select: none;
  line-height: unset;
  font-size: 2.2rem;
  font-weight: 900;
  text-transform: uppercase;
  color: rgba(0, 0, 0, 0.2);
}

.small-text {
  height: 5.5rem;
  display:flex;
  align-items: center;
  justify-content: center
}

@media (max-width: 1200px) {
  .small-text {
    height: 7rem;
  }
}

@media (max-width: 991px) {
  .small-text {
    height: 15rem;
  }
}
@media (max-width: 767px) {
  .small-text {
    height: 100%;
  }
}
/*Work*/
/*Contact*/
.contact-header h3 {
  user-select: none;
  line-height: unset;
  font-size: 2.2rem;
  font-weight: 900;
  text-transform: uppercase;
  color: rgba(0, 0, 0, 0.2);
}
.contact .fa {
  font-size: 55px;
  color: #5bd1d7;
}
textarea {
  resize: none;
}
.submit {
  background-color: #5bd1d7;
}
/*Contact*/
